<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 0.4" "http://jpf.sourceforge.net/plugin_0_4.dtd">
<plugin id="com.tibbo.aggregate.common.plugin.extensions" version="0.0.1" class="com.tibbo.aggregate.common.plugin.ExtensionsPlugin">
  <extension-point id="component"/>
</plugin>
